*
!*/

!project/**/libre_top.xdc

!modules/**/doc/*.pdf
!modules/**/doc/*.jpg

!modules/**/xdc/*.xdc

!modules/**/rtl/*.v
!modules/**/rtl/*.sv
!modules/**/rtl/*.svh

!modules/**/tb/*.v
!modules/**/tb/*.sv
!modules/**/tb/*.svh

!modules/**/ip/**/*.xci

!modules/**/sdk/*.c
!modules/**/sdk/*.h

!modules/**/*.tcl

!modules/**/model/*.coe

!project.tcl
!sdk.tcl
!LICENSE.txt
!README.md
!.gitignore
!.gitmodules